[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[diff]
	colorMoved = default
[merge]
	conflictstyle = zdiff3
[rerere]
	enabled = true
[pull]
	rebase = true
	ff = only
[credential "https://github.com"]
	helper =
	helper = !{{ lookPath "gh" }} auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{ lookPath "gh" }} auth git-credential
[url "https://github.com/"]
	insteadOf = git@github.com:
[include]
	path = ~/.config/git/aliases
	path = ~/.config/git/delta
